html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  background-color: #eceff4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  width: 300px;
  height: 100px;
  background-image: url(assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #3b4252;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover {
  color: #d8dee9;
}

/* Link hover animation
.nav-links a:hover::after {
  color: #eceff4;
  width: 100%;
  transition: width 0.5s;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #d8dee9;
  transition: width 0.5s;
} */

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #3b4252;
  margin: 5px;
  transition: all 0.5s ease;
}

/* old active link style
.active a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #d8dee9;
  transition: width 0.5s;
} */

.active a {
  color: #d8dee9;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes textFadeIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    position: translateY(0px);
    opacity: 1;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.section {
  font-family: "Montserrat", "sans-serif";
  height: 600px;
}

.title {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 300px;
  background-color: #eceff4;
  color: #2e3440;
  text-align: center;
  display: block;
  padding: 100px 25px 100px 25px;
}

.title h1 {
  height: 100px;
  padding: 25px 0px 25px 0px;
  opacity: 0;
  animation: textFadeIn;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.title h2 {
  padding: 100px 0px 0px 0px;
  opacity: 0;
  animation: textFadeIn;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.content {
  position: relative;
  z-index: -1;
  display: grid;
  padding: 4em 10vw 4em 15vw;
  grid-template-columns: auto auto auto;
  background-color: #E5E9F0;
}

.content div {
  padding: 10px;
  background-color: #E5E9F0;
}

.content div h3 {
  padding: 0px 0px 10px 0px;
  background-color: #E5E9F0;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    z-index: 2;
    right: 0px;
    height: 92vh;
    width: 35%;
    top: 10vh;
    background-color: #eceff4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0%;
  }
  .burger {
    display: block;
  }
  .content {
    display: block;
    padding: 4em 5vw 4em 5vw;
  }
}

.sidebar-active {
  transform: translateX(0%);
}
