html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
  background-color: #eceff4;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 20vh;
  width: 100%;
  background-color: #eceff4;
}

.logo {
  width: 300px;
  height: 100px;
  background-image: url(assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #3b4252;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover {
  color: #d8dee9;
}

/* Link hover animation
.nav-links a:hover::after {
  color: #eceff4;
  width: 100%;
  transition: width 0.5s;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #d8dee9;
  transition: width 0.5s;
} */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #d8dee9;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: relative;
    right: 0px;
    height: 92vh;
    width: 35%;
    top: 8vh;
    background-color: #eceff4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0%;
  }
  .burger {
    display: block;
  }
}

.sidebar-active {
  transform: translateX(0%);
}

/* old active link style
.active a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #d8dee9;
  transition: width 0.5s;
} */

.active a {
  color: #d8dee9;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.section {
  font-family: "Montserrat", "sans-serif";
  height: 600px;
}

.title {
  width: 100%;
  height: 500px;
  background-color: #eceff4;
  color: #2e3440;
  text-align: center;
  display: block;
}

.title h1 {
  height: 100px;
  margin: 100px 0px 0px 0px;
  padding: 25px;
}

.title h2 {
  margin: 0px;
  padding: 0px;
}

